#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4
export DEB_CXXFLAGS_MAINT_APPEND = -Wno-error=unused-variable

include /usr/share/dpkg/default.mk

%:
	dh $@ --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_C_COMPILER=$(CC) -DCMAKE_CXX_COMPILER=$(CXX)
